[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyformat = '*'
'moto[server]' = '*'
flake8 = '*'
mypy = '*'
httpbin = '*'
twine = "*"
setuptools = "*"
wheel = "*"
black = "*"
isort = "*"

[packages]
boto3 = '*'
cssselect = '*'
lxml = '*'
requests = '*'
PyYAML = '*'
SQLAlchemy = {extras = ["mypy"], version = "*"}
types-pyyaml = "*"
lxml-stubs = "*"
types-requests = "*"
boto3-stubs = "*"

[scripts]
test = "python3 -m unittest discover"
lint = "sh -c 'flake8 bamboo_crawler tests && mypy bamboo_crawler'"

[requires]
python_version = "3.9"
